<footer class="footer">
  <div class="container-fluid">
    <p class="copyright text-center">
      Copyright &copy;
      <script>
        document.write(new Date().getFullYear());
      </script>.

      <b>Tari</b>

    </p>
  </div>
</footer>