<div class="wrapper">

  <%= render "shared/sidebar" %>

  <div class="main-panel">
    <%= render "shared/employer_nav" %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h3>Advanced Quiz</h3>
            <hr>

            <div class="fyrebox_quiz" data-gid="0oyDB1ajG" data-oid="xPjOqdGVr" /></div><script src="https://cdn.fyrebox.com/javascripts/fyrebox.min.js?2" defer="defer" async></script>
        </div>
      </div>
      <%= render "shared/alert" %>
    </div>
  </div>
</div>
</div>
</div>