<div class="wrapper">

  <%= render "shared/sidebar" %>

  <div class="main-panel">
    <%= render "shared/employer_nav" %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <h3>Beginner Quiz</h3>
            <hr>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="myFrame" class="embed-responsive-item" src="https://www.riddle.com/creator/app/riddle/#/edit/create/152258?tid=quiz-question&pid=1"></iframe>
          </div>
          </div>
          <%= render "shared/alert" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#myframe").contents().find('.navbar, .mainnavbar').hide();
    });
</script>