<div class="wrapper">

  <%= render "shared/sidebar" %>

  <style>
    body{
      background-color: #fff;
    }
  </style>

  <div class="main-panel">
    <%= render "shared/employer_nav" %>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe id="myFrame" class="embed-responsive-item" src="http://138.197.129.7/quiz-php/pages/intermediate.php"></iframe>
          </div>
        </div>
        <%= render "shared/alert" %>
      </div>
    </div>
  </div>
</div>
</div>